/* styles.css */
body {
    background-color: #fcf9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2, h4 {
    font-weight: 600;
    color: #333;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}


.card {
  max-width: 260px;
  margin: auto;
}



.card:hover {
    transform: scale(1.02);
}

.card.h-100 {
  height: auto !important;
}



.card-img-top {
  height: 160px !important;
  object-fit: cover;
  width: 100%;
}



.card-body {
  padding: 0.75rem;
  text-align: center;
}


.card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.card a:hover {
    color: #0d6efd;
}

.badge {
    font-size: 0.75rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.btn-primary, .btn-outline-primary, .btn-success, .btn-secondary {
    border-radius: 20px;
    font-weight: 500;
}

textarea.form-control {
    resize: none;
    min-height: 80px;
}

.alert-warning {
    border-radius: 10px;
    font-weight: bold;
}

form .form-control {
    border-radius: 10px;
}

.container {
    margin-bottom: 4rem;
}

img.img-fluid {
    border-radius: 16px;
    border: 2px solid #fcf9f9;
    padding: 5px;
    background-color: #fcf9f9;
}