<!-- dashboard.html -->
{% extends 'layout.html' %}
{% block content %}
<h2>Welcome, {{ current_user.username }}!</h2>
<hr>
<h4>Your Clubs</h4>
<div class="row">
    {% for club in created_clubs + joined_clubs %}
    <div class="col-md-4">
        <div class="card mb-4">
            {% if club.image %}
            <img src="{{ url_for('uploaded_file', filename=club.image) }}" class="card-img-top" alt="Club image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ club.name }}</h5>
                <p class="card-text">Code: {{ club.code }}</p>
                <a href="{{ url_for('club_detail', club_id=club.id) }}" class="btn btn-outline-primary">Enter Club</a>
                {% if club.creator_id == current_user.id %}
                    <a href="{{ url_for('delete_club', club_id=club.id) }}" class="btn btn-outline-danger mt-2">Delete Club</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{{ url_for('create_club') }}" class="btn btn-success">Create a New Club</a>
<a href="{{ url_for('join_club') }}" class="btn btn-secondary">Join a New Club</a>
{% endblock %}